{
  "name": "My Dockerfile",
  "description": "A docker file with dependencies and stuffs…",
  "dockerfile": "H4sIAAAAAAAAA41TbWvbMBD+7l9xeKX9JCuh+xTIIGkcGpbFwXNaMgZFky+OiC1pspyu/fWT7OVlGYMYDPY99/Lcc3fTNPkC+s1ulRzcR/1+EMxH43gOFRPSuhfNMOTKoLRCQo4GbRgE8eIJluvsMVlMkkX2nM6yeLzO4odkEkP/DF0txqvpNE7jiTMHz0n6eTJLgdZmHzwkyzVE1ODPRhisXP46sr9sBwYfgBtkFqGp0QTpagGFUY1meQ7EANP6xQNwewvfA3CP//sDkuKEkwb6vV4PSO3y/hCSSlWqwjVC8rYQEA7hRPGd8xUVK7p64TGBJ1KIfWcGjaYSdS2UBKvgVZldLjpyfKteXdL0GDg4UmjLUKVtp1r2De7ixiiNdMmMqO/aeHQJ4MZhn4Ci5dSKCt+VRN8g05YUaIEoGPFWrMFgqgzH2XL/cWhN49jp3Gt1rXPhpEIgbyf5rggTsrasLH2YfXfl2CnaVB3rUnFWeuonqHSq1HIDtKkNrbfMIPV9CblR1Pf7v7hc7wpikCu5EUVjHNsNSCXdSro5c+tHcsni0AMvkckgWH2N07/muEe5b0fwNEuz1Wj+4r6HfjA0aiE/h+4O7oFUrTvcnPl2az3KHofhuZm6tRrceHvoqxxk6jK5g9Eoc5RcYN1WuAylWuiTtuQwHGe9xl0qwhnfInGL6Hf/8pqu6fuKttpbJaTd8uG/Kx5BFPwGuWTvU0cEAAA="
}
